* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #e8e8e8;
}

.center-box {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    max-width: 80%;
    align-items: center;
}

.center-box h2{
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.center-box p{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 250px;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
}

.card img {
    width: 100%;
    display: block;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 20px 16px;
  text-align: center;
}

.button {
    background-color: rgb(44, 42, 42);
    padding: 10px;
    width: 100px;
    border-radius: 25px;
    color: white;
    border: 1px solid rgb(0, 0, 0);
}

.button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}


.link a{
    color: black;
    text-decoration: none;
}

.media {
    display: flex;
    justify-content: center;
    gap: 25px; 
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

.media i {
    font-size: 32px;
}

